
/* Style for the home button */
.home-button {
    position: fixed;
    top: 20px;
    left: 92%;
    /*z-index: 9999; /* Ensure it's above other elements */
}

/* Adjust the style of the button as needed */
.home-button {
    padding: 10px 20px; /* Increase padding for bigger size */
    font-size: 18px; /* Increase font size */
    background-color: black; /* Blue background color */
    color: #fff; /* White text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.home-button:hover {
    background-color: #333; /* Darker blue background on hover */
    color: #fff; /* White text color on hover */
}

/* Set the login container to display flex */
.login-container {
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Center the items vertically */
    height: 100vh; /* Make the container full height of the viewport */
}

/* Style for the left half containing the image */
.login-image {
    width: 50%; /* Take up 50% of the container's width */
    height: 100%; /* Make the image fill the height of the container */
   /* padding: 10px; /* Add some padding */
}

.login-form h3 {
  margin-bottom: 40px; /* Added margin-bottom */
}

/* Style for the right half containing the login form */
.login-form {
    width: 50%; /* Take up 50% of the container's width */
    height: 50%; /* Make the form fill the height of the container */
    padding: 20px; /* Add some padding */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    background-color: #f9f9f9; /* Add a light background color */
    margin-left: 20px;

}

.login-form label {
  margin-bottom: 5px; /* Adjust as needed */
  font-size: 20px;
}

.login-form .login-button {
  padding: 10px 20px; /* Increase padding for bigger size */
  font-size: 18px; /* Increase font size */
  background-color: black; /* Black background */
  border-radius: 50px;
  color: white; /* White text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form .login-button:hover {
  background-color: #333; /* Darker background on hover */
}

.login-form p{
    margin-top: 50px;
}
